- if @user_group.valid?
  $("#model_form").html("#{escape_javascript(render 'new')}");
  $("#edit_user_group_form").trigger('reset');
  $("#user_group_list").html("#{escape_javascript(render 'list')}");
- else
  $("#user_group_code").focus();
  showErrorMessage("Error:<br />#{@user_group.errors.full_messages.map{|c| c}.join('<br/>').html_safe}")